<!DOCTYPE html>
<html>
  <head>
    <title>CatTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' %>
    <%= stylesheet_link_tag 'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://api.tiles.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.js' %>
    <%= javascript_include_tag 'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.0/mapbox-gl-draw.js' %>
    <%= javascript_include_tag 'https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js' %>
    <%= javascript_include_tag 'http://js.zapjs.com/js/download.js' %>
  </head>

  <body>
  	<%= render 'layouts/header' %>
  	<div class = "container-fluid">
    	<%= yield %>
    </div>
  </body>
</html>
